@media screen and (min-width: 481px) and (max-width: 768px) {
	#home .feature-info{
		margin-left: 125px;
	}

	#home .feature-small-cover {
		display: inline;
		position: absolute;
	}
	#home .book-cover-13, .book-cover-4{
		margin: 25px;
	}

	#home .book-cover-4{
		margin: 25px;
	}

	#home .other-books .books li{
		display: inline;
		float: left;
		width: 43.75%;
		margin-left: 3.125%;
		margin-right: 3.125%;
	}


	#home .other-books ul:nth-child(5n) {
		clear: both;
	}

	#home .other-books .books{
		width: 106.25%;
		margin-left: -3.125%;
		margin-right: -3.125%;
	}

	#index .footer-links, #store .footer-links, #press .footer-links, #about .footer-links {
		display: inline;
		float: left;
		width: 68.75%;
		margin-left: 3.125%;
		margin-right: 3.125%;
		text-align: left;
	}

	#index .footer-partner, #store .footer-links, #press .footer-links, #about .footer-links {
		float: left;
		padding-left: 0%;
	}
	#about #aboutinfo {
		display: inline;
		float: left;
		width: 93.75%;
		margin-left: 3.125%;
		margin-right: 3.125%;
	}

	#about .about-people li {
		display: inline;
		float: left;
		width: 43.75%;
		margin-left: 3.125%;
		margin-right: 3.125%;
	}
}




@media screen and (min-width: 769px){
	#newsletter, .newsletter-note, #mc_embed_signup, h1,
	 #product .other-books, #product .other-books .books li, 
	 #cart .other-books, #cart .other-books .books li, 
	 .product-byline, .hero-image, .product-options, 
	 .product-options-list li, .product-bundle-offer, .product-content, 
	 .product-bundle-summary, .product-reviews, .product-review-list-2 li, 
	 .product-review-list-3 li, .product-review-list-4 li, 
	 .product-author-info, #product-tk .product-author-info, 
	 .product-author-headshot, .product-bundle-authors-info, 
	 .product-additional-info, #home .feature, #home .other-books, 
	 #home .other-books .books li, #home .press-room, #home .press-room 
	 .press li, .content h2.title, .content-with-sidebar, 
	 .content-with-sidebar h2.title, aside, #products, 
	 #products .books li, #cart-main, #press-room .press-list li, 
	 #press-room #pagination, #press, #about, #basic, .about-people li, 
	 #help, #faqs, footer, .footer-links {
	 	margin-left: 10px;
	 	margin-right: 10px;
	 }
	 #home .feature{
	 	display: inline;
	 	float: left;
	 }
	 h1{
	 	width: 244px;
	 }
	 .other-books .books li {
	 	display: inline;
	 	float: left;
	 	width: 300px;
	 }

	#home .feature .book-cover-13, #home .feature .book-cover-4{
		margin: 25px;
	}

	#index .footer-links, #store .footer-links, #press .footer-links, #about .footer-links{
		display: inline;
		float: left;
		width: 380px;
		text-align: left;
		margin-top: 20px;
	}
	#index .footer-links li, #store .footer-links li, #press .footer-links li, #about .footer-links li{
		display: inline;
	}

	#index .footer-partner, #store .footer-partner, #press .footer-partner, #about .footer-partner{
		float: right;
		padding-left: 0%;
	}

	#press aside, #about aside{
		display: inline;
		width: 220px;
		float: right;
	}

	#about .about-people li{
		display: inline;
		float: left;
	}

}












@media screen and (min-width: 769px) and (max-width: 1024px) {
	#main {
		width: 640px;
		margin: 0px auto;
	}

	#home .feature{
		width: 620px;
	}

	#home .other-books{
		width: 620px;
		display: inline;
		float: left;

	}


	#home .feature-small-cover {
		display: inline;
		position: absolute;
	}
	#home .feature-info {
		margin-left: 125px;
	}

	#home .other-books .books{
		width: 660px;
	}

	#home .other-books .books li{
		display: inline;
		float: left;
		width: 300px;
	}
	#about .content-with-sidebar{
		width: 380px;
	}
	#about #newsletter {
		width: 620px;
	}
}


}
@media screen and (min-width: 1025px ){
	#home .feature-big-cover {
		width: 430px;
		background-position: 0px 0px;
	}

	#home .feature-big-cover-2 {
		width: 430px;
		background-position: 0px
	}
	#home .feature-info {
		margin-left: 125px;
	}
}


@media screen and (min-width: 1025px) {
	
	#main{
		width: 960px;
		margin: 0px auto;
	}

	#home .feature-small-cover{
		display: none;
	}

	#home .feature{
		width: 940px;
	}

	#home .feature-info {
		display: inline;
		width: 480px;
		margin-left: 10px;
		margin-right: 10px;
		float: right;
		padding-right: 25px;
	}

	#home .feature-big-cover{
		width: 430px;
		background-position: 0px 0px;
	}
	#home .feature-big-cover-2{
		width: 430px;
		background-position: 0px 0px;

	}
	#home .other-books{
		width: 960px;
	}

	 #main .primary-nav {
	 	width: 460px;
		margin-left: 34px;
		margin-right: 10px;
		margin-top: -18px;
	 }
	 #main h1{
	 	width: 244px;
	 }

	 #index .primary-nav li a, #store .primary-nav li a, #press .primary-nav li a, #about .primary-nav li a{
		border-radius: 0px; 
		padding: 34px 8px 3px 8px; 
		border-width: 0 0 1px;
	}


	#index .footer-partner-arcustech, #store .footer-partner-arcustech, #press .footer-partner-arcustech, #about .footer-partner-arcustech {
		margin-right: 40px;
		clear: none;
	}

	#press .content-with-sidebar{
		width: 700px;
	}

	#about .about-people li{
		width: 220px;
		margin-right: 10px;
		margin-left: 10px;
	}

	#about #aboutinfo{
		width: 700px;
	}

	#about .about-people{
		margin-left: -10px;
		margin-right: -10px;
	}
}


