@media screen and (min-width: 481px) {
	#home .other-books .books{
		width: 106.25%;
		margin-left: -3.125%;
		margin-right: -3.125%;
		display: block;
		
	}	

}

@media screen and (min-width: 660px) {

		
}
