/*********
Copied and pasted for convenience
********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, 
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}

h4, .logo-tagline, .byline-prefix, .foreword-text, .book-summary, .feature-author, .feature-format-note, .press p, 
.press ul, .press ol, .alert--fancy p, .product-byline .byline-name i, .books .byline-name i, .product-foreword p, 
.product-desc-gift p, .product-bundle-summary p, .product-review-quote, .product-review-byline .byline-title, 
.product-author-bio p, .product-bundle-author-bio p, .book-desc, .newsletter-message, #faqs h4, #faqs p, 
.about-person-name, .about-person-title, .about-text p, .basic-text p {
	font-family: Georgia, "Times New Roman", Times, Serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;	
	}
	
thead th, .button, .primary-small-button, .secondary-button, .callout h3, .primary-nav, .subsection h3, 
.byline-name, .book-byline .byline-name, .press-article h3, .press-date, #product .title .callout p, 
.product-option-info h4, .product-out-of-stock strong, .alert__title, .offer-message, .savings-qty, 
.savings-discount, .savings-msg, #cart-main .callout:before	{
	font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body#index #nav-home a, body#press #nav-press a, body#store #nav-store a, body#product #nav-store a,
 body#page #nav-help a, body#blog #nav-press a, body#article #nav-press a,
  body#about #nav-about a, body.help #nav-help a, .primary-nav li a:hover {
color: #1e90de;
background-color: #f6f5ea;
border-color: #bcb79c;
}

/*********
End Copy and Paste
**********/


/*********
General Styles
**********/

*{
	box-sizing: border-box;
}

div {
	display: block;;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	border-top: solid 5px #00bbb3;
	width: 100%;
	zoom: 1;
	background: #fff;
}


ul, menu, dir {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}

ul {
	list-style: none;
}

a {
	color: #00bbb3;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}


h1 {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	}
	

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 1.125em;
	line-height: 1.5em;
	}

aside{
	display: none;
	border-left: solid 1px #ccc;
	padding-left: 20px;
}

	
	

/*********
Header and Navigation
**********/

header {
	position: relative;
	display: block;
}



/**
logo
**/

.logo {
	width: 100%;
	height: 24px;
	background-size: contain;
}

.icon-logo {
	background-color: red;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	display: block;
	text-indent: -9999px;
	width: 187px;
	height: 33px;
	margin: 26px 0px 3px 0px;
}

.logo-tagline {
	font-size: 0.8em;
	color: #00bbb3;
	font-style: italic;
}

/**
Shopping cart
**/

.shopping-cart {
	position: absolute;
	top: 24px;
	right: 3.125%;
	padding: 15px;
	text-decoration: none;
	border: #fff solid 1px;
	}
	
.shopping-cart-icon {
	display: inline;
	float:  left;
	opacity: 0.7;
	width: 25px;
	height: 20px;
	margin-left: 4px;
	}

.icon-cart-empty {
	background-image: url('../images/cart.png');
	background-repeat: no-repeat:
	width: 25px;
	height: 20px;
}	
	
.callout {
	border-radius: 4px;
	padding: 8px;
	background-color: #f6f5ea;
}

.shopping-cart-count {
	display: inline;
	float: left;
	border-radius: 20px;
	padding: 2px;
	font-size: 0.72em;
	min-width: 20px;
	text-align: center;
	background-color: #c1bfb0;
	color: #fff;
}
/****
navigation
*****/

.primary-nav {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	font-weight: 400;
	margin-top: 20px;
	font-size: 1.1em;
	line-height: 1.1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	}

.primary-nav li {
	display: inline;
	float: left;
	margin-right: 3px;
	margin-bottom: 20px;
}

.primary-nav li a {
	border-radius: 3px;
	display: block;
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
	background-color: #fff;
}

/***************************
Main content area
****************************/

/****************************
Featured item
*****************************/
.feature a{
	text-decoration: none;
}


.feature-big-cover{
	border-radius: 5px;
	left: 0px;
	top: 0px;
	width: 0px;
	background-image: url(../images/bigrwd.png);
	background-size: auto 327px;
	background-position: -430px 0px;
	position: absolute;
	background-repeat: no-repeat;
	height: 100%;

}


.feature-big-cover-2{
	border-radius: 5px;
	left: 0px;
	top: 0px;
	width: 0px;
	background-image: url(../images/bigrrd.png);
	background-size: auto 327px;
	background-position: -430px 0px;
	position: absolute;
	background-repeat: no-repeat;
	height: 100%;

}

.feature-info{
	padding: 25px;
	display: block;
	width: auto;
	margin-left: 0px;
	position: relative;
}

.book-cover-13{
	display: block;
	margin: 25px auto;
	background-image: url(../images/13.png);
	width: 99px;
	height: 152px;
	margin: 25px auto 0;
}



 .book-cover-4{
	display: block;
	margin: 25px auto;
	background-image: url(../images/4.png);
	width: 99px;
	height: 152px;
	margin: 25px auto 0;
}



.feature{
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	text-decoration: none;
	background-color: #f6f5ea;
	min-height: 300px;
	margin-bottom: 10px;
	box-shadow: inset 0px 0px 80px rgba(0,0,0,0.05);
	border-radius: 5px;
	position: relative;
}





.feature-author {
	display: block;
	margin-bottom: 4px;
	font-size: 1.5em;
	text-transform: none;
	text-decoration: none;
	color: #333;
	text-align: center;
}

.feature-title {
	display: block;
	font-size: 1.8em;
	letter-spacing: 1px;
	font-style: normal;
	text-decoration: none;
	color: #00bbb3;
	font-family: 'Oswald';
	text-transform: uppercase;
	text-align: center;
}

.byline-prefix {
	font-style: italic;
	text-transform: none;
	letter-spacing: 0px;
}

.foreword-byline {
	color: #998f52;
	text-transform: uppercase;
	text-align: center;
}

.feature .foreword-text {
	color: #333;
	margin: 16px 0px;
	font-size: 0.9375em;
	line-height: 1.45em;
	}

.feature-format-note {
	margin: 13px 0px 26px 0px;
	font-style: italic;
	font-size: 0.8125em;
	line-height: 1.5em;
	color: #b1a55f;
}	

.feature-buy-button {
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
	position: absolute;
	right: 10px;
	bottom: -20px;
	}
	
.primary-big-button {
	background-color: #7db72f;
	color: #fff;
	display: block;
	border-radius: 3px;
	outline: none;
	margin: 0px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	border: solid 2.4px #fff;
	padding:  8px 10px 5px;
	font-size: 1.85em;
	font-weight: 100;
	font-family: 'Oswald', sans-serif;
	background-image:
		linear-gradient(#7db72f, #4e7d0e);
	}

/***********
Secondary list
************/
.divider-top-thick, .divider-bottom-thick {
	border-color: #f2f1e2;
	
}

#home .other-books books books li:before, #home .other-books .books li:after {
	content: "";
	display: table;
} 




.gift-card-thumb{
	display: inline;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	height: 150px;
	width: 100px;
	background-size: cover;
}


.book-1, .book-2, .book-3, .book-4, .book-5, .book-6, .book-7, .book-8, 
	.book-9, .book-10, .book-11, .book-12, .book-13{
	display: inline;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	height: 150px;
	width: 100px;
	background-size: cover;
	border: #eee solid 1px
}

 .other-books .books li:after{
	clear: both;
}


.other-books {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
}

.divider-top-thick {
	border-top-width: 5px;
	padding-top: 30px;
	margin-top: 30px;
	border-top-style: solid;
}

.divider-bottom-thick {
	border-bottom-width: 5px;
	border-bottom-style: solid
}

.subsection h3 {
	font-size: 0.9375em;
	display: block;
	color: #997e11;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.giftcard{
	margin-bottom: 40px;
}

.book{
	margin-bottom: 30px;
}

.book-title{
	font-size: 1.125em;
	line-height: 1.25em;
	margin-bottom: 4px;
}

.book-byline{
	margin: 4px 0 15px;
}

.byline-name {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #998f52;
	font-size: 0.75em;
}

.by {
	text-style: italic;
}

.primary-small-button {
	padding: 5px 8px;
	font-size: 0.75em;
	background-color: #7db72f;
	background-image: linear-gradient(#7db72f, #4e7d0e);
	border: solid 1px #64991e;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	outline: none;
	margin: 0px
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}

/*********
List images
**********/

.gift-card-thumb {
	background-image: url('../images/giftcard.png');
}

.book-1 {
	background-image: url('../images/1.png');
}

.book-2 {
	background-image: url('../images/2.png');
}

.book-3 {
	background-image: url('../images/3.png');
}

.book-4 {
	background-image: url('../images/4.png');
}

.book-5 {
	background-image: url('../images/5.png');
}

.book-6 {
	background-image: url('../images/6.png');
}

.book-7 {
	background-image: url('../images/7.png');
}

.book-8 {
	background-image: url('../images/8.png');
}

.book-9 {
	background-image: url('../images/9.png');
}

.book-10 {
	background-image: url('../images/10.png');
}

.book-11 {
	background-image: url('../images/11.png');
}


.book-12 {
	background-image: url('../images/12.png');'
}


.book-13 {
	background-image: url('../images/13.png');'
}

/****************
Press section
*****************/

.press-room{
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	position: relative;
}

.press-listing{
	margin-bottom: 30px;
}

.press-listing p a{
	text-decoration: underline;
}

h4 a{
	margin-top: 15px;
	font-size: 1.1em;
	text-decoration: none;
	box-sizing: border-box;
}

.press-room .links{
	position: absolute;
	top: 15px;
	right: 0px;
	text-align: right;
	font-size: 0.7em;
	line-height: 1.5em;
	letter-spacing: 14px;
}



.links-rss{
display: none;
}

.links-more {
	color: #00bbb3;
	text-decoration: underline;
	line-height: 1em;
	letter-spacing: .5px;
}

.press-summary img {
	margin: 5px 10px 10px 0px;
	float: left;
}



.press-listing p{
	margin-bottom: 6px;
	font-size: 0.825em;
	line-height: 1.5em;
}

.press-date{
	font-size: 0.75em;
	margin-bottom: 6px;
	font-weight:500;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #888;
}

/**********************
Subscription area
***********************/
#newsletter{
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	padding: 20px 0px 16px 0px;
	margin-bottom: 30px;
}

#email-label{
	position: absolute;
	left: -9999px;
}
.newsletter-message{
	font-size: 0.825em;
	line-height: 1.5em;
}

.email{
	width: 96.875%;
	margin-right: 3.125%;
	margin-bottom: 8px;
	display: inline;
	float: left;
	border-radius: 2px;
	border: solid 1px #ccc;
	padding: 5px 4px;
	font-size: .8em;
	color: #888;
	background-color: #fff;
}

#subscribe {
	display: inline;
	float: right;
	padding: 5px 8px;
	font-size: 0.75em;
	background-color: #fbfbf6;
	background-image: linear-gradient(#fbfbf6, #e8e5d4);
	color: #1e90de;
	border: solid 1px #d1cdba;
	border-radius: 3px;
	outline: none;
	margin: 0px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform:uppercase;
}

.secondary-button {
	margin-top: 100px;
	padding: 1px 6px;
}


/****************
Footer
****************/

footer {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	padding-bottom: 50px;
	color: #888;
	}
footer a{
text-decoration: underline;
}
	
.footer-links li {
	display: block;
}
.footer-links {
	text-align: center;
	display: block;
	width: auto;
	font-size: 0.6875em;
	line-height: 2em;

}

.links li {
	margin-right: 7px;
	}
	
.footer-partner {
	display: block;
	margin-top: 24px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: none;
	padding-left: 33%;
}

.footer-partner-logo {
	opacity: 0.7;
	float: left;
	display: block;
	width: 38px;
	height: 38px;
	text-indent: -9999px;
}

.footer-partner-byline {
	float:left;
	display: block;
	font-size: 0.6875em;
	margin-top: 10px;
	margin-right: 5px;
}

.hc-icon-footer{
	background-image: url('../images/hc.png');
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	text-indent: -9999px;
	display: inline-block;
	
}

.arcustech-logo-footer{
	background-image: url('../images/arcu.png');
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	text-indent: -9999px;
	display: inline-block;
	
}

/****************
STORE
****************/

.library-bar {
	float: right;
	width: 100%;
	background-color: #f6f5ea;
	box-shadow: inset 0px 0px 80px rgba(0,0,0, 0.05);
	border-radius: 5px;
	padding: 12px 10px 10px;
	position: relative;
	margin-top: -46px;
}	

.subsection .library-bar h3{
	font-size: .9em;
	margin-right: 150px;
	letter-spacing: 1px;
	line-height: 1;
	color: #333;
	text-transform: uppercase;
	display: inline;
	margin-bottom: 10px;
}

.library-collection .hero-image {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 30px;
}

h2.title {
	font-size: 3em;
	letter-spacing: 1px;
	display: inline;
	float: left;
	width: 93.75%;
	margin-top: 0px;
	margin-right: 3.125%;
	margin-left: 3.125%;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-family: 'Six Caps', sans-serif;

}

.foreword-text {
	margin-bottom: 45px;
}

/*************
PRESS
**************/


.press-list li {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
}

.divider-bottom {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #ccc;
}

.press-summary p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 16px;
}

#pagination {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	margin-bottom: 10px;
	font-size: 0.75em;
	line-height: 1.5em;
}

#pagination .current {
	background: #997e11;
	color: #fff;
	border-radius: 2px;
	padding: 2px 6px;
	margin: 0 2px;
}

#pagination a{
	background: #f6f5ea;
	color: #997e11;
	text-decoration: none;
	border-radius: 2px;
	padding: 2px 6px;
	margin: 0 2px;
}

.content-with-sidebar {
	display: inline;
	float: left;
}

.callout {
	border-radius: 4px;
	padding: 8px;
	background-color: #f6f5ea;
}

.callout h3{
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #997e11;
	margin-bottom: 7px;
}

.callout p{
	font-size: 0.75em;
	line-height: 1.5em;
}

aside .subsection{
	padding-top: 20px;
	margin-top: 20px;
	border-top-color: #ccc;
}

.subsection h3{
	font-style: normal;
	margin-bottom: 12px;
	font-size: 0.9375em;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.subsection h3, th {
	color: #997e11;
}

aside .subsection a{
	text-decoration: none;
}

aside h4{
	margin-bottom: 10px;
}
aside .book-summary {
	clear: both;
	padding-top: 10px;
}
aside .book-thumb {
	margin: 0px;
}
/********
ABOUT
*******/

.about-main-people {
	margin-bottom: -30px;
	display: block;
}
.about-person-avatar {
	display: inline;
	float: left;
	margin-right: 10px;
	width: 48px;
}

.about-person-name {
	display: block;
	font-size: 0.875em;
	line-height: 1.25em;
	text-decoration: underline;
}

.about-person-title {
	font-size: 0.75em;
	font-style: italic;
	color: #998f52;
}
.about-people li {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
	margin-bottom: 30px;
}

.about-text p{
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
}

.about-text p a{
	text-decoration: underline;
}

.about-main-people:before, .about-main-people:after {
	content: "";
	display: table;
}

.

.about-text p, .basic-text p{
	margin-bottom: 16px;
	font-size: 1.125em;
	line-height: 1.5em;
}

/*********
HELP
**********/
#help {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
}

#help .callout {
	position: relative;
	border-radius: 4px;
	padding: 8px;
	background-color: #f6f5ea;
}

.callout h3{
	font-size: 0.75em;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #997e11;
	margin-bottom: 7px;
}

.callout p {
	display: block;
	font-size: 0.75em;
	line-height: 1.5em;
	padding-left: 24px;
	background-position: 0px 2px;
}
.callout p a {
	text-decoration: underline;
	font-weight: bold;
}
.icon-mail{
	background-image: url(../images/mail.png);
	background-repeat: no-repeat;
}

#faqs {
	display: inline;
	float: left;
	width: 93.75%;
	margin-left: 3.125%;
	margin-right: 3.125%;
}

#faqs h4{
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.25em;
}

#faqs p {
	margin-bottom: 1.5em;
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 0;
}

#faqs a{
	text-decoration: underline;
}

.divider-top {
	border-color: #ccc;
	padding-top: 30px;
	margin-top: 30px;
	border-top-style: solid;
	border-top-width: 1px;
}